#contact-section {
  font-size: 5vh;
  min-height: 95vh;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin: 0 auto;
  gap: 1rem;
}

form label {
  font-weight: bold; /* Optional: Emphasize the label text */
}

#email,
#message {
  width: 100%;
  margin-top: 3rem;
  font-size: 1rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#email {
  padding-bottom: 3%;
}

.contact-container p {
  margin-bottom: 0;
  text-wrap-mode: nowrap;
}

input,
textarea {
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

#submit-button {
  color: #fff;
  margin-top: 10%;
  padding: 2% 1%;
  padding-right: 2%;
  display: inline-block;
  animation: none;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2.5vh;
  letter-spacing: 0.5vh;
  cursor: pointer;
  width: fit-content;
  background-color: coral;
  transition: ease-in-out 0.2s;
  text-wrap: nowrap;
}

#submit-button:hover {
  scale: 1.1;
}

@media screen and (max-width: 1024px) {
  .contact-container form {
    width: 80%;
  }
}
